.row {
    max-width: 100%;
}

/*************************************************************************
PART ONE
*************************************************************************/

#part1 {
    background: red;
}

/*************************************************************************
PART TWO
*************************************************************************/

#part2 {
    background: blue;
}

/*************************************************************************
PART THREE
*************************************************************************/

#part3 {
    background: green;
}